.block-form {
  display: flex;
  justify-content: center;
}

.container-form {
  width: 1400px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.heading-form {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  color: #27ae60;
  margin-bottom: 20px;
}

.text-form {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  background: #ffffff;
  box-shadow: 0px 4px 40px rgba(7, 17, 51, 0.07);
  border-radius: 12px;
  margin: auto;
  width: 655px;
  height: 413px;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

form > input {
  border: 1px solid #081414;
  border-radius: 10px;
  width: 565px;
  height: 73px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #000000;
  padding-left: 25px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.btn {
  padding: 16px 28px;
  background: #27ae60;
  border-radius: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #081414;
  border: 0px;
  margin: auto;
  margin-top: 30px;
  cursor: pointer;
}

.btn:hover {
  background-color: #2BCF73;
}

.btn:active {
  background-color: #2e6931;
  transform: translateY(2px);
}