.boxImg {
  display: grid;
  grid-template-columns: 495px 385px 495px;
  row-gap: 30px;
}

.photo1 {
  grid-column: 1 span;
  grid-row: 1;
}
.photo2 {
  grid-column: 3;
  grid-row: 1;
  margin-left: 25px;
}
.photo3 {
  grid-column: 1;
  grid-row: 2;

}
.photo4 {
  grid-column: 2;
  grid-row: 2;
  margin-left: 25px;
}
.photo5 {
  grid-column: 2 span;
  grid-row: 3;
}
.photo6 {
  grid-column: 3;
  grid-row: 3;
  margin-left: 25px;
}

.containerMedia {
  width: 1400px;
}

.boxVideo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 38px;
  row-gap: 35px;
}

#margin {
  margin: 140px auto;
}

.boxSlider {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 1400px;
}




