.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  gap: 60px 0px;
}

.text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  margin-top: 20px;
}

.icons {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.tel {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.timetable {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.map {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.email {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.containerNotes {
  grid-column: 1 / -1;
  text-align: center;
}

.heading3 {
  margin-left: 125px;
}