.containerNews {
  width: 100%;
}

.topContent {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.boxNews {
  width: 362px;
  height: 427px;
  border: 1px solid #27AE60;
}

.timeBox {
  margin-top: 10px;
}

.contentNews {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px;
}

.pointer {
  cursor: pointer;
}

.headingNews {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  margin-left: 30px;
}

.time {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  margin-left: 30px;
}