@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  align-items: center;
  flex-direction: column;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.block {
  width: 1400px;
  display: flex;
  margin: auto;
}

address {
  font-style: normal;
}

h1 {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 82px;
display: flex;
align-items: center;
color: #FFFFFF;
margin-top: 290px;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  color: #27AE60;
  margin-bottom: 35px;
}

ol {
  list-style-position: inside;
}

h3 {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  color: #081414;
  display: inline-block;
}

.noScroll {
  overflow: hidden;
}

.before-after-slider {
  width: 650px;
  height: 759px;
}