.modal {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  transform: scale(0);
  box-sizing: content-box;
  overflow-x: hidden;
}

.active {
  transform: scale(1);
}

.modalClose {
  width: 100%;
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.heading {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 27px;
  line-height: 120%;
  color: #000000;
}

.svg {
  position: absolute;
  left: 0;
  cursor: pointer;
}

.modalContent {
  width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.headingPopup {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  text-align: left;
  margin-bottom: 15px;
}

.text {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  color: #081414;
}

.textBox {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}

.time {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}